// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Theme:
$eerie-black: #202121;
$pale-azure: #7Bd4F6;
$non-photo-blue: #ABE2F8;
$azure-web: #EEFCFA;
$silver: #CCCCCC;
$mantis: #7DD181;

$smoky-black: #171506;
$platinum: #D9D9D9;
$alice-blue: #EDF8FC;
$non-photo-blue: #96D8EE;
$sky-blue: #70C9E8;
$UN-blue: #5A8FCB;
$steel-blue: #4580C4;
$pine-green: #136F63;
$brunswick-green: #0F574E;
$emerald: #6CC680;
$emerald-dark: #4FBA66;
$spring-green: #35FF69;
$light-green: #ACEB98;
$mindaro: #D7FFAB;
$lavender-blush: #E0D8DE;
$chinese-violet: #896279;
$raspberry-rose: #AF3B6E;
$munsell-red: #EC0B43;
$NCS-red: #C30938;
$crimson: #D7263D;
$cardinal: #BF2237;
$giants-orange: #F46036;
$maize: #FFF07C;
$papaya-whip: #FFEFD3;
