.form-select {
  background-color: white;
  border-radius: 8px;
}

.new-question {
  font-weight: bold;
  margin: 30px 0 14px 0;
}

.fa-trash-can {
  background: none;
  border: none;
  color: #EC0B43;
  font-size: 16px;
  transition: ease 0.3s;
  vertical-align: text-top;
}

.fa-trash-can:hover {
  color: #C30938;
}

#course_questions_attributes_1_image {
  max-width: 600px;
}

.custom-file-input::file-selector-button {
  cursor: pointer;
  font-family: "Lato", sans-serif;
  transition: ease 0.3s;
}

.custom-file-input::file-selector-button:hover {
  // This isn't working for some reason!
  background-color: #4580C4;
}