.form-select {
  background-color: white;
  border-radius: 8px;
}

.new-question {
  font-weight: bold;
  margin: 30px 0 14px 0;
}

.fa-trash-can {
  background: none;
  border: none;
  color: #EC0B43;
  font-size: 16px;
  transition: ease 0.3s;
  vertical-align: text-top;
}

.fa-trash-can:hover {
  color: #C30938;
}
