.dashboard-container {
  background-color: #EDF8FC;
  min-height: calc(100vh - 66px);
}

.dashboard-container h1 {
  color: #70C9E8;
  font-size: 32px;
}

.dashboard-container h4 {
  font-size: 18px;
}

.main-content {
  padding: 20px 30px;
}

.course-progress {
  margin-bottom: 20px;
}

.questions {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.question-number {
  display: inline-block;
  border: 2px solid #CCCCCC;
  border-radius: 50%;
  color: #CCCCCC;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  line-height: 40px;
  height: 40px;
  width: 40px;
  transition: ease 0.3s;
}

.question-number:hover {
  background-color: #CCCCCC;
  color: #fff;
}

.correct-answer {
  background-color: #136F63;
  border-color: #136F63;
  color: white;
}

.correct-answer:hover {
  background-color: #0F574E;
  border-color: #0F574E;
}

.incorrect-answer {
  background-color: #D7263D;
  border-color: #D7263D;
  color: white;
}

.incorrect-answer:hover {
  background-color: #BF2237;
  border-color: #BF2237;
}

#dropdownCourseButton {
  background-color: transparent;
  border: 2px solid #136F63;
  border-radius: 8px;
  color: #136F63;
  font-weight: bold;
  padding: 10px 20px;
  transition: ease 0.3s;
}

#dropdownCourseButton:hover {
  background-color: #136F63;
  color: white;
}

#registerButton {
  background-color: #5A8FCB;
  border: none;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

#registerButton:hover {
  background-color: #4580C4;
}
