.dashboard-container {
  display: flex;
  background-color: #EDF8FC;
  min-height: calc(100vh - 66px);
}

.dashboard-container h1 {
  color: #70C9E8;
  font-size: 32px;
  margin-bottom: 16px;
}

.dashboard-container h4 {
  font-size: 16px;
}

.main-content {
  flex-grow: 1;
  margin-left: 250px;
  padding: 20px 30px;
  overflow-y: auto;
}

.card-white {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  max-width: 1200px;
}

.card-white ul {
  list-style-type: none;
  padding-left: 0;
}

.student-link {
  color: #5A8FCB;
  font-size: 18px;
  font-weight: bolder;
  text-decoration: none;
  transition: color 0.3s ease;
}

.student-link:hover {
  color: #4580C4;
}

.icon-wrapper {
  display: flex;
  align-items: center;
  width: 40px;
  height: 40px;
}

.icon-aligned {
  font-size: 28px;
  line-height: 1;
}

.fa-solid.fa-plus {
  color: #6CC680;
  font-size: 25px;
  transition: ease 0.3s;
}

.fa-solid.fa-plus:hover {
  color: #4FBA66;
}

.fa-solid.fa-pen-to-square {
  color: #5A8FCB;
  font-size: 21px;
  transition: ease 0.3s;
}

.fa-solid.fa-pen-to-square:hover {
  color: #4580C4;
}

.fa-solid.fa-xmark {
  color: #EC0B43;
  font-size: 28px;
  transition: ease 0.3s;
}

.fa-solid.fa-xmark:hover {
  color: #C30938;
}

.course-progress {
  margin-bottom: 20px;
}

.questions-progress {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.question-number {
  display: inline-block;
  border: 2px solid #CCCCCC;
  border-radius: 8px;
  color: #CCCCCC;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  line-height: 38px;
  height: 40px;
  width: 40px;
  transition: ease 0.3s;
}

.question-number:hover {
  background-color: #CCCCCC;
  color: #fff;
}

.correct-answer {
  background-color: #6CC680;
  border-color: #6CC680;
  color: white;
}

.correct-answer:hover {
  background-color: #4FBA66;
  border-color: #4FBA66;
}

.question-answered {
  background-color: #FED766;
  border-color: #FED766;
  color: white;
}

.question-answered:hover {
  background-color: #FECB34;
  border-color: #FECB34;
}

.incorrect-answer {
  background-color: #EC0B43;
  border-color: #EC0B43;
  color: white;
}

.incorrect-answer:hover {
  background-color: #C30938;
  border-color: #C30938;
}

#dropdownCourseButton {
  background-color: transparent;
  border: 2px solid #136F63;
  border-radius: 8px;
  color: #136F63;
  font-weight: bold;
  padding: 10px 20px;
  transition: ease 0.3s;
}

#dropdownCourseButton:hover {
  background-color: #136F63;
  color: white;
}

#registerButton {
  background-color: #5A8FCB;
  border: none;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: ease 0.3s;
}

#registerButton:hover {
  background-color: #4580C4;
}

.users-table {
  font-family: 'Lato', sans-serif; 
}