.group-form-control {
  max-width: 600px;
}

.group-select {
  border-radius: 8px;
  margin-left: 6px;
  padding: 8px 4px;
}

.form-group .form-control {
  max-width: 600px;
  padding: 0;
}

.ts-control {
  border: none;
  border-radius: 8px;
  box-shadow: none;
  line-height: 1.5;
}

.ts-wrapper.multi .ts-control [data-value] {
  background-color: #5A8FCB;
  background-image: none;
  border-radius: 6px;
}

.student-list {
  max-width: 400px;
}

.list-group {
  border-radius: 8px;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.student-checkbox {
  cursor: pointer;
}
