.group-form-control {
  max-width: 600px;
}

.group-select {
  border-radius: 8px;
  margin-left: 6px;
  padding: 8px 4px;
}

.student-list {
  max-width: 400px;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.student-checkbox {
  cursor: pointer;
}
