<div class="dashboard-container d-flex">

  <!-- Sidebar -->
  <%= render 'shared/sidebar' %>

  <!-- Main Content -->
  <div class="main-content flex-grow-1">
    <h1 class="mb-4">Students List</h1>

    <% if @students.any? %>
      <div class="card-white p-4 mb-4">
        <h4>Studenten</h4>
        <ul>
          <% @students.sort_by { |student| [student.first_name, student.last_name] }.each do |student| %>
            <li>
              <%= link_to "#{student.first_name} #{student.last_name}", student_path(student), class: 'student-link' %>
            </li>
          <% end %>
        </ul>
      </div>
    <% else %>
      <p>No students available.</p>
    <% end %>
  </div>
</div>
