<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-pinterest"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
  </div>
  <div class="footer-copyright">
    <ul>
      <li>© 2024 Stichting Kansen Academie</li>
      <li>example@gmail.com</li>
      <li>t 06-86159350</li>
    </ul>
  </div>
</div>
