<% registrations.includes(:user).sort_by { |r| [r.user.first_name, r.user.last_name] }.each do |registration| %>
  <div class="d-flex justify-content-between align-items-center">
    <!-- Student Name -->
    <div class="col-3">
      <%= link_to "#{registration.user.first_name} #{registration.user.last_name}", student_path(registration.user), class: 'student-link' %>
    </div>

    <!-- Completion Status -->
    <div class="col-2 text-center">
      <% total_questions = questions.size %>
      <% total_attempts = registration.user.attempts.where(question_id: questions.pluck(:id)).size %>
      <% if total_attempts == total_questions && total_questions > 0 %>
        <span style="color: #6CC680;">Compleet</span>
      <% else %>
        Incompleet
      <% end %>
    </div>

    <!-- Score -->
    <div class="col-2 text-center">
      <% correct_answers = registration.user.attempts.where(question_id: questions.pluck(:id), correct: true).size %>
      <% percentage = total_questions > 0 ? (correct_answers.to_f / total_questions * 100).round : 0 %>
      <%= percentage %>%
    </div>

    <!-- Time Spent -->
    <div class="col-3 text-center">
      <% time_spent = registration.time_spent %>
      <% if time_spent && time_spent > 0 %>
        <% hours = (time_spent / 3600).to_i %>
        <% minutes = (time_spent % 3600 / 60).to_i %>
        <% seconds = (time_spent % 60).to_i %>
        <%= "#{hours.to_s.rjust(2, '0')}:#{minutes.to_s.rjust(2, '0')}:#{seconds.to_s.rjust(2, '0')}" %>
      <% end %>
    </div>
  </div>
<% end %>