<div class="dashboard-container d-flex" data-controller="course-form">
  <!-- Sidebar -->
  <%= render 'shared/sidebar' %>

  <!-- Main Content -->
  <div class="main-content flex-grow-1">
    <h1>Cursus aanpassen</h1>

    <%= simple_form_for @course, html: { multipart: true, data: { turbo: true } } do |f| %>
      <%= render 'form', f: f, course: @course, groups: @groups, levels: @levels %>

      <div class="d-flex gap-3 mb-5">
        <%= f.submit "Opslaan", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
