<div class="dashboard-container d-flex">

  <!-- Sidebar -->
  <%= render 'shared/sidebar' %>

  <!-- Main Content -->
  <div class="main-content flex-grow-1">
    <h1>Your Registered Courses</h1>

    <% if @registered_courses.any? %>
      <% @registered_courses.each do |course| %>
        <div class="course-item mb-4">
          <h2><%= course.title %></h2>
          <p><%= course.description %></p>
          <%= button_to 'Leave Course', unenroll_course_path(course), method: :delete, data: { turbo_confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        </div>
        <hr>
      <% end %>
    <% else %>
      <p>You are not enrolled in any courses.</p>
    <% end %>
  </div>

</div>
