.btn-azure {
  color: #ECF9FE;
  background-color: #7Bd4F6;
  border-radius: 50px;
  font-size: 34px;
  padding: 8px 48px;
  transition: 0.3s ease;
}

.btn-azure:hover {
  color: #ECF9FE;
  background-color: #ABE2F8;
}
