.btn-azure {
  color: #EDF8FC;
  background-color: #70C9E8;
  border-radius: 50px;
  font-size: 24px;
  padding: 8px 42px;
  transition: 0.3s ease;
}

.btn-azure:hover {
  color: #EDF8FC;
  background-color: #96D8EE;
}

.btn-form {
  margin-top: 42px;
  width: 50%;
}

.btn-primary, .btn-danger, #add-question-button {
  background-color: #5A8FCB;
  border: 1px solid #4580C4;
  border-radius: 16px;
  font-weight: bold;
  padding: 8px 32px;
  transition: ease 0.3s;
}

.btn-primary:hover {
  background-color: #4580C4;
}

.btn-danger {
  color: white;
  background-color: #EC0B43;
  border: 1px solid #C30938;
}

.btn-danger:hover {
  color: white;
  background-color: #C30938;
}

#add-question-button {
  color: white;
  background-color: #6CC680;
  border: 1px solid #4FBA66;
  // border-radius: 50%;
  // padding: 8px 14px;
}

#add-question-button:hover {
  color: white;
  background-color: #4FBA66;
}
