.btn-azure {
  color: #EDF8FC;
  background-color: #70C9E8;
  border-radius: 50px;
  font-size: 24px;
  padding: 8px 42px;
  transition: 0.3s ease;
}

.btn-azure:hover {
  color: #EDF8FC;
  background-color: #96D8EE;
}

.btn-form {
  margin-top: 42px;
  width: 50%;
}
