.form-container {
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 143px);
}

.form-header {
  color: white;
  margin-top: 20px;
  text-align: center;
}

.form-inputs {
  background-color: white;
  border-radius: 75px;
  color: #171506;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 40px;
  max-width: 1200px;
  padding: 50px;
  width: 70vw;
}

.form-text {
  color: #5A8FCB;
}

.form-actions {
  display: flex;
  justify-content: center;
}

// For the `Login` modal
.modal-content {
  background-color: transparent;
  border: none;
}

.form-inputs-modal {
  color: white;
  background-color: #0b0a03;
  border-radius: 0 0 75px 75px;
  max-width: 600px;
}

.form-header-modal {
  color: #70c9e8;
  margin-top: -20px;
}

@media (max-width: 991px) {
  .form-inputs {
    width: 90vw;
  }
  .btn-form {
    font-size: 20px;
    width: 80%;
  }
}

@media (max-width: 575px) {
  .form-inputs-modal {
    margin-top: 42px;
  }
}
