<p>Hoi <%= @resource.email %>!</p>

<p>Je account is geblokkeerd door een grote aantal mislukte inlog pogingen.</p>

<p>Klik onderstaande link om je account te deblokkeren:</p>

<p><%= link_to 'Account deblokkeren', unlock_url(@resource, unlock_token: @token) %></p>
